%p This is your dashboard

%p= "Current projects for #{@current_user.name}:"

%ul
	- @current_projects.each do |project|
		%li= project.name 


%a(title="New Project" href="/users/#{@current_user.id}/projects/new")  Create new project