%p Welcome to --TIME MANAGEMENT-- (name pending) 
%p Your tool for managing time between your projects

Features include:
%ul
	%li Create as many projects as you want
	%li Add shifts to each project when you work on it
	%li Get statistics on total and per project time 

