%p Welcome to --TIME MANAGEMENT-- (name pending) 
%p A tool for managing your time on multiple projects

Features include:
%ul
	%li Create as many projects as you want
	%li Add shifts to each project when you work on it
	%li Get statistics on total and per project time 

= link_to "Register", signup_path
or
= link_to "Login", login_path
to get the most of --TIME MANAGEMENT--