
%p Statistics

%ul
	%li= "Total hours worked: #{@total_hours} hours"
	%li Hours/day since sign up: X hours/day
	%li Most worked on project: Bla (x hours)
	%li Most productive day: dd/mm/yyyy (X hours)