%h2 All users

/%p= "Logged in as " + @current_user.name

%table#users
	%thead
		%tr
			%th Name 
			%th Email
	%tbody
		- @users.each do |user|
			%tr
				%td= user.name
				%td= user.email

= link_to 'Add new user', new_user_path