/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body {
	margin: 0;
}

.wrapper{
	background: gray;
	display: flex;
	flex-flow: row wrap;
}

.header, .main, .nav, .footer {
  flex: 1 100%;
}

.header {
	background: #00A0B0;
}


.nav {
	background: #CC333F;
}

.main {
	background: #EDC951;
	padding: 20px;
}

.footer {
	background: #EB6841;
}

/* Large screens */
@media all and (min-width: 800px) {
	.nav { flex: 1 auto;}
	.main { flex: 6 0px;}
}