/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body {
	margin: 0;
	height:100%;
}

#container{
	width: 100%;
	display: block;
	background: black;
	overflow: hidden;
}

#header {
	background: #00A0B0;
	width: 80%;
	float: right;
}

#header h1{
	margin: 0;
}

#header p{
	margin: 0;
}

#nav {
	background: #CC333F;
	width: 20%;
	max-width: 300px;
	height: 100%;
	min-height: 100%;
	float: left;
	display: block;
}

#main {
	background: #EDC951;
	float: left;
	width: 80%;
	display: block;
}

#footer {
	background: #EB6841;
	width: 100%;
	float: left;
}
