// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media all and (min-width: 800px) {

	.dashboard_content {
		max-width: 50%;
		float: left
	}

	.dashboard_graph {
		max-width: 50%;
		width: 50%;
		float: right
	}
	
}